{% extends 'User/header_footer.html' %}
{% load static %}
{% load i18n %}

{% block 'content' %}

     <div class="breadcrumb-area gray-bg-7">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="{% url 'User:All_Company' %}">Company</a></li>
                        <li class="active">Products By {{ CompanyName }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shop-page-area pt-30 pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="tab-content jump">
                            <div class="tab-pane active pb-20" id="product-grid">
                                <div class="row">
                                    {% if not data %}
                                        <div class="col-md-12">
                                            <center>
                                            <p style="font-size:20px;color:black;">{{ CompanyName }} Has No Products To Sold ...</p>
                                            <p style="font-size:16px;color:black;">Please, <a href="{% url 'User:All_Company' %}" style="color:blue">Check Other Company</a>...</p>
                                            </center>
                                         </div>
                                    {% else %}
                                    {% for i in data %}
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-30">
                                        <div class="devita-product-2 mrg-inherit">
                                            <div class="product-img">
                                                <div style="height:200px; width:100%" class="product-img-slider">
                                                    <a  href="{% url 'User:Product_Details' i.id %}"><img style="height:85%; width:100%" src="{{ MEDIA_ROOT }}{{ i.p_img_1.url }}" alt=""></a>
                                                    <a  href="{% url 'User:Product_Details' i.id %}"><img style="height:85%; width:100%" src="{{ MEDIA_ROOT }}{{ i.p_img_2.url }}" alt=""></a>
                                                    {% if i.p_img_3 != "" %}
                                                    <a  href="{% url 'User:Product_Details' i.id %}"><img style="height:85%; width:100%" src="{{ MEDIA_ROOT }}{{ i.p_img_3.url }}" alt=""></a>
                                                    {% endif %}
                                                    {% if i.p_img_4 != "" %}
                                                    <a  href="{% url 'User:Product_Details' i.id %}"><img style="height:85%; width:100%" src="{{ MEDIA_ROOT }}{{ i.p_img_4.url }}" alt=""></a>
                                                    {% endif %}
                                                    {% if i.p_img_5 != "" %}
                                                    <a  href="{% url 'User:Product_Details' i.id %}"><img style="height:85%; width:100%" src="{{ MEDIA_ROOT }}{{ i.p_img_5.url }}" alt=""></a>
                                                    {% endif %}
                                                    {% if i.p_img_6 != "" %}
                                                    <a  href="{% url 'User:Product_Details' i.id %}"><img style="height:85%; width:100%" src="{{ MEDIA_ROOT }}{{ i.p_img_6.url }}" alt=""></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="list-col">
                                                <div class="gridview">
                                                    <div class="product-content text-center">
                                                        <span>{{ i.p_model_no }}</span>
                                                        <h4><a href="product-details.html">{{ i.p_name }}</a></h4>
                                                        <div class="product-price-wrapper">
                                                            <span>${{ i.p_price }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-action-wrapper-2 text-center">
                                                        <p> {{ i.p_bio|slice:":25" }}...</p>
                                                        <div class="product-action">

                                                        {% if i.inWishlist %}
                                                            <form method="POST" action="{% url 'Cart:Remove_From_WishList_From_All_Product' %}">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="productId" value="{{ i.id }}">
                                                                <input type="hidden" name="CompanyEmail" value="{{ CompanyEmail }}">
                                                                <button class="btn" style="width:100%; height:100%; background-color:#EEF0F1; border-radius:5px;">
                                                                    <i class="fa fa-heart"></i>
                                                                </button>
                                                            </form>
                                                        {% else %}
                                                            <form method="POST" action="{% url 'Cart:Add_To_WishList_From_All_Product' %}">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="productId" value="{{ i.id }}">
                                                                <input type="hidden" name="CompanyEmail" value="{{ CompanyEmail }}">
                                                                <input type="hidden" name="productName" value="{{ i.p_name }}">
                                                                <input type="hidden" name="productPrice" value="{{ i.p_price }}">
                                                                <button class="btn" style="width:100%; height:100%; background-color:#EEF0F1; border-radius:5px;">
                                                                    <i class="fa fa-heart-o"></i>
                                                                </button>
                                                            </form>
                                                        {% endif %}
                                                            &nbsp;&nbsp;
                                                        {% if i.inCart %}
                                                            <form method="POST" style="height:100%;"  action="{% url 'Cart:Remove_From_Cart_From_All_Product_View' %}">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="productId" value="{{ i.id }}">
                                                                <input type="hidden" name="CompanyEmail" value="{{ CompanyEmail }}">
                                                                <button class="btn btn-danger"  style="border-radius:5px;">
                                                                    Remove From Cart
                                                                </button>
                                                            </form>
                                                        {% else %}
                                                            <form method="POST" style="height:100%;"  action="{% url 'Cart:Add_To_Cart_From_All_Product_View' %}">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="CompanyEmail" value="{{ CompanyEmail }}">
                                                                <input type="hidden" name="productId" value="{{ i.id }}">
                                                                <input type="hidden" name="productName" value="{{ i.p_name }}">
                                                                <input type="hidden" name="productPrice" value="{{ i.p_price }}">
                                                                <button class="btn btn-primary"  style="border-radius:5px;">
                                                                Add To Cart
                                                                </button>
                                                                </form>
                                                        {% endif %}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}