{% extends 'User/header_footer.html' %}
{% load static %}
{% load i18n %}

{% block 'content' %}

     <div class="breadcrumb-area gray-bg-7">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Company</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shop-page-area pt-30 pb-65">
            <div class="container">
                                <div class="row">
                                <div class="container">
                                {% for i in data %}
                                        <div style="height:300px;" class="row">
                                            <div style="height:300px;" class="col-md-4 col-sm-4">
                                                <img style="width:100%; height:100%; box-shadow: 10px 10px 8px;" src="{{ MEDIA_URL }} {{ i.c_logo.url }}">
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <div style="width:100%; height:100%; border:1px solid black; padding:2%;">
                                                    <div class="row">
                                                        <div style="padding:5%; font-size:25px;color:black" class="col-md-8 col-sm-8">
                                                            <center> {{ i.c_name }} </center>
                                                        </div>
                                                        <div style="padding:6%;" class="col-md-4 col-sm-4">
                                                            <center>
                                                                    <a class="btn btn-primary" href="{% url 'User:All_Product_By_Company' i.c_email %}" style="border-radius:5px;">
                                                                        All Product
                                                                    </a>
                                                            </center>
                                                        </div>
                                                        <div  class="col-md-8 col-sm-8">
                                                               <p><i class="fa fa-phone"></i> <span style="color:black;">Phone: </span> <a href="tel:{{ i.c_phone }}">{{ i.c_phone }}</a> </p>
                                                               <p><i class="fa fa-envelope"></i> <span style="color:black;">email: </span><a href="mailto:{{ i.c_email }}">{{ i.c_email }}</a></p>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4">
                                                            <a target="_blank" href="{{ i.c_linkedin }}"><img src="{% static 'linkedin.png' %}"></a>
                                                            <a target="_blank" href="{{ i.c_website }}"><img src="{% static 'website.png' %}"></a>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12">
                                                            <p ><i class="fa fa-map"></i> <span style="color:black;">Address: </span> {{ i.c_street}}, {{ i.c_area }}, {{ i.c_city }}, {{ i.c_pincode }}, {{ i.c_state}}, {{ i.c_country}}.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <hr>
                                            </div>
                                        </div>
                                {% endfor %}
                                </div>
                                </div>
            </div>
        </div>
{% endblock %}