{% extends 'Admin/header_footer.html' %}
{% load static %}
{% load i18n %}

	{% block 'content' %}

			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
                <div class="content container-fluid">
					
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Welcome Admin!</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active">Dashboard</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					<div class="row">
						<div class="col-md-12">




						<!--All PGs -->
							<div class="card card-table">
								<div class="card-header">
									<h4 class="card-title"> All PGs </h4>
								</div>

								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>Name</th>
													<th>Phone</th>
													<th>Email</th>
													<th>Facilities</th>
													<th>Bio</th>
													<th>City</th>
												</tr>
											</thead>
											<tbody>
												{% for i in PG %}

												<tr>
													<td> {{ i.name }}</td>
													<td> {{ i.phone }}</td>
													<td> {{ i.email }}</td>
													<td>
														<ul>
															{% for j in i.facilities %}
																<li>
																	{{ j }}
																</li>
															{% endfor %}
														</ul>
													</td>
													<td> {{ i.bio }}</td>
													<td> {{ i.city }}</td>
												</tr>

											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						<!-- /All PGs-->









<hr>
				<hr>





								<!-- All User -->
								<div class="card card-table">
								<div class="card-header">
									<h4 class="card-title"> All User </h4>
								</div>

								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>Email</th>
													<th>Username</th>
													<th>Admin</th>
												</tr>
											</thead>
											<tbody>
												{% for i in user %}

												<tr>
													<td> {{ i.email }}</td>
													<td> {{ i.username }}</td>
													{% if i.is_staff == 1 %}
														<td> Admin </td>
													{% else %}
														<td> User </td>
													{% endif %}

												</tr>

											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- /All User -->
<hr>

					<hr>
						<!--All Feedback -->
							<div class="card card-table">
								<div class="card-header">
									<h4 class="card-title"> All Feedback </h4>
								</div>

								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>Email</th>
													<th>Subject</th>
													<th>Message</th>
												</tr>
											</thead>
											<tbody>
												{% for i in feedback %}

												<tr>
													<td> {{ i.email }}</td>
													<td> {{ i.subject }}</td>
													<td> {{ i.message }}</td>
												</tr>

											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						<!-- /All Feedback-->


						</div>
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
	{% endblock %}