{% extends 'account/comman_for_accounts.html' %}
{% load static %}
{% load account %}
{% load i18n %}

{% block 'common_for_account' %}

        <div class="breadcrumb-area gray-bg-7">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"> Confirm Email  </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-register-area pt-60 pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                                <a class="active" data-toggle="tab" href="#lg1">
                                    <h4> Confirm Email </h4>
                                </a>
                            </div>
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">

                                        {% if confirmation %}

                                        {% user_display confirmation.email_address.user as user_display %}

                                        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

                                             <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                                                <center>
                                                    <button class="btn btn-primary" style="width: 100%; border-radius: 5px;" type="submit">&nbsp;&nbsp;Confirm&nbsp;&nbsp;</button>
                                                </center>
                                            </form>

                                        {% else %}

                                        {% url 'account_email' as email_url %}

                                        <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}