{% extends 'account/comman_for_accounts.html' %}
{% load static %}
{% load i18n %}

{% block 'common_for_account' %}

        <div class="breadcrumb-area gray-bg-7">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Account</a></li>
                        <li class="active"> Login </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-register-area pt-60 pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">

                                    <h2 style="font-style:italic; letter-spacing: 1px;"> Login </h2>

                            </div>
                            <div class="tab-content">
                                <div >
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                           <form class="login" style="margin-top:4%" id="login" method="post" action="{% url 'account_login' %}">
                                               {% csrf_token %}
                                                <input type="text" name="login" placeholder="Username">
                                                <input type="password" name="password" placeholder="Password">

                                                <div class=" row">
                                                    <div class="col-md-6">
                                                            {% if redirect_field_value %}
                                                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                                            {% endif %}
                                                        <button style="width:100%; border-radius:5px;" type="submit" class="btn btn-primary"><span>SUBMIT</span></button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button style="width:100%; border-radius:5px;" type="reset" class="btn btn-danger"><span>RESET</span></button>
                                                    </div>
                                                    </div>
                                            </form>
                                            <br><p style="color:black">If You Forgot Your Password, <a style="color:blue;" href="{% url 'account_reset_password' %}">Click Here</a> ... </p>
                                            <p style="color:black">If You Don't Have Account, <a style="color:blue;" href="{{ signup_url }}">Create One</a> ... </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}