{% extends 'account/comman_for_accounts.html' %}
{% load static %}
{% load i18n %}

{% block 'common_for_account' %}

        <div class="breadcrumb-area gray-bg-7">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li style="color:black"> Account </li>
                        <li style="color:black"> Password Reset </li>
                        <li class="active"> Password Updated </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-register-area pt-60 pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                             <div class="login-register-tab-list nav">

                                    <h2 style="font-style:italic; letter-spacing: 1px;"> Password Updated </h2>

                            </div>
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <center>
                                                <p style="color:black">Your Password Is Now Updated ...<br>Follow the link provided to <span><a  style="color:blue" href="{% url 'account_login' %}">Login ...</a></span> </p>
                                                <p style="color:black">Please <a href="mailto:sahilrajput6899@gmail.com" style="color:blue; border-bottom:1px dashed">Contact Us</a> if you still not able to login ...</p>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}