{% extends 'account/comman_for_accounts.html' %}
{% load static %}
{% load i18n %}

{% block 'common_for_account' %}

        <div class="breadcrumb-area gray-bg-7">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Account</a></li>
                        <li class="active"> Register </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-register-area pt-60 pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">

                                    <h2  style="font-style:italic; letter-spacing: 1px;" > Register </h2>

                            </div>
                            <div class="tab-content">
                                <div >
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form class="signup" style="margin-top:4%" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                            {% csrf_token %}
                                                <input type="text" name="username" placeholder="Username">
                                                <input name="email" placeholder="Email" type="email">
                                                <input type="password" name="password1" placeholder="Password">
                                                <input type="password" name="password2" placeholder="Password">
                                                <div class=" row">
                                                    <div class="col-md-6">
                                                            {% if redirect_field_value %}
                                                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                                            {% endif %}
                                                        <button style="width:100%; border-radius:5px;" type="submit" class="btn btn-primary"><span>SUBMIT</span></button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button style="width:100%; border-radius:5px;" type="reset" class="btn btn-danger"><span>RESET</span></button>
                                                    </div>

                                                </div>
                                            </form>
                                            <br>
                                            <p style="color:black">If You Already Have Account, <a style="color:blue;" href="{{ login_url }}">Please Login</a> ... </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}