{% extends 'Company/header_footer.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'content' %}


<!-- Content Body Start -->
        <div class="content-body">

            <!-- Page Headings Start -->
            <div class="row justify-content-between align-items-center mb-10">

                <!-- Page Heading Start -->
                <div class="col-12 col-lg-auto mb-20">
                    <div class="page-heading">
                        <h3>{{ company.name }}</h3>
                    </div>
                </div><!-- Page Heading End -->

            </div><!-- Page Headings End -->
            <!--Author Information Start-->
                        <div class="col-xlg-12 col-lg-12 col-12 mb-30">
                            <div class="box">
                                <div class="box-body">
                                    <div class="form">
                                        <form method="post" enctype="multipart/form-data" >
                                            {% csrf_token %}
                                            <div class="row row-10 mbn-20">
                                                <div class="col-sm-6 col-12 mb-20"> {{ p_form.c_phone | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ p_form.c_logo | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ p_form.c_street | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ p_form.c_area | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ p_form.c_city | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ p_form.c_state | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ p_form.c_country | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ p_form.c_pincode | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ p_form.c_website | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ p_form.c_linkedin | as_crispy_field }} </div>
                                                <div class="col-12 mt-10 mb-20">
                                                    <button type="submit" class="button button-primary button-outline"> Submit </button>
                                                    <input type="reset" class="button button-danger button-outline" value="Reset">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Author Information End-->
                    </div>
                </div>
                <!--Right Sidebar End-->

            </div>

        </div><!-- Content Body End -->


{% endblock %}